.about-us-section {
    background: url('/src/images/aboutUsImage.webp') no-repeat center center; 
    background-size: cover;
    display: flex;
    align-items: center; /* Vertically align items in the middle */
    justify-content: center; /* Center items horizontally */
    overflow-y: auto;
    height: 100vh;
    position: relative;
    z-index: 1;
}

.about-us-section::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: -1;
}

.about-us-container {
    display: flex;
    flex-direction: row; /* Side by side for large screens */
    justify-content: space-evenly;
    align-items: center;
    width: 100%; /* Take the full width of the section */
    max-width: 1300px;
    z-index: 2;
}
.about-us-container h3{
    color: white;
 }
.about-us-image-container {
    flex: 1; /* Take half of the container space */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
 }

 .about-us-image {
    width: auto;
    max-width: 100%;
    max-height: 60%; /* Maintain aspect ratio */
    height: 350px;
    object-fit: cover;
    border-radius: 8px;
}

.about-us-content {
    flex: 1; /* Take the other half of the container space */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}


@media (max-width: 768px) {
    .about-us-section, .about-us-container {
        flex-direction: column; /* Stack vertically on small screens */
    }

    .about-us-image-container, .about-us-content {
        width: 100%; /* Full width for a stacked layout */
        padding: 10px;
    }

    .about-us-image {
        max-height: 250px; /* Adjust height appropriately for mobile */
    }
}
