.about-us-section {
    background: url('/src/images/aboutUsImage.webp') no-repeat center center; 
    background-size: cover;
    display: flex;
    align-items: center; /* Vertically align items in the middle */
    justify-content: center; /* Center items horizontally */
    overflow-y: auto;
    position: relative;
    z-index: 1;
    height: 100%;
}

.about-us-section::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: -1;
}

.about-us-container {
    display: flex;
    flex-direction: row; /* Side by side for large screens */
    justify-content: center;
    align-items: center;
    width: 100%; /* Take the full width of the section */
    max-width: 1200px;
    z-index: 2;
    height: 100%;
}
.about-us-container h3{
    color: white;
    padding-top: 15px;
  
 }
.about-us-image-container {
    flex: 1; /* Take half of the container space */
    display: flex;
    align-items: center;
    justify-content: center;
   
 }

 .about-us-image {
    width: auto;
    max-width: 100%;
    max-height: 60%; /* Maintain aspect ratio */
    height: 350px;
    object-fit: cover;
    border-radius: 8px;
}

.about-us-content {
    flex: 1; /* Take the other half of the container space */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    overflow: auto;
}


@media (max-width: 675px) {
    .about-us-container {
        flex-direction: column;
        justify-content: flex-start; /* Align content from the top */
        align-items: flex-start;
        padding: 25px; /* Adjust padding as needed */
        height: 90%;
    }
    .about-us-image-container{
        height: 25%;
    }
    .about-us-image-container, .about-us-content {
        width: 100%; /* Full width for both containers */
    }

    .about-us-image {
        height: auto; /* Adjust height based on width */
        max-height: 30vh; /* Limit image height to not take over the screen */
    }

    .about-us-content {
        padding: 10px; /* Provides internal spacing */
        height: 75%;
    }
    
}

@media (max-width: 675px)  {
    .about-us-container {
        padding: 0;
        height: 100vh;
    }
    .about-us-image-container{
        flex: 1;
   
    }
}
