.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 20px 7%;
    margin: 0 auto;
    background: transparent;
    color: #fff;
    z-index: 3; /* Ensure navbar is above hero image and text */
    box-sizing: border-box;
    max-width: 1300px;
}

.hamburger {
  cursor: pointer;
  font-size: 1.2rem;
  transition: font-size 0.3s ease; /* Smooth transition for size change */
}

.hamburger:hover {
  font-size: 1.5em; /* Increase size on hover */
}

.navbar-logo {
  font-size: 2rem;
  font-weight: bold;
}
 
.navbar-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position:absolute;
  top:100%;
  left: 0;
  background:rgba(0, 0, 0, 0.5);;
}
  
.navbar-links a {
  display: block;
  margin-left: 20px;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
  padding: 20px;
}
  
  .navbar-links.show {
    display: flex; /* Show the links */
  }
  
  .navbar-links a:hover {
    color: #007bff;
  }
  