.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    z-index: 3; /* Ensure navbar is above hero image and text */
    box-sizing: border-box;
}
  
  .navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-links a {
    margin-left: 20px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .navbar-links a:hover {
    color: #007bff;
  }
  