@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  font-size: 16px; /* Set a base font size */
  overflow-x: hidden; /* Prevent horizontal scroll */
  font-family: "Roboto Flex", sans-serif;
}
.App {
  display: flex;
  flex-direction: column;
height: 100vh; /* Minimum height of 100% of the viewport height */
padding-bottom: env(safe-area-inset-bottom);
}

h1 {
  font-size: 2.625rem; /* slightly increased from 2.5em (40px) */
  color: white;
}
h2 {
  font-size: 2rem; /* slightly increased from 2em (32px) */
}
h3 {
  font-size: 1.85rem; /* slightly increased from 1.75em (28px) */
}
h4 {
  font-size: 1.575rem; /* slightly increased from 1.5em (24px) */
}
h5 {
  font-size: 1.3125rem; /* slightly increased from 1.25em (20px) */
}
h6 {
  font-size: 1.05rem; /* slightly increased from 1em (16px) */
}
p {
  font-size: 1.10rem; /* slightly increased from 1em (16px), matched paragraph size */
  font-weight: 200;
  line-height: 1.6;
  letter-spacing: 1px;
  color: white;
  margin: 0.75em 0;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  h1 {
    font-size: 2.1rem; /* smaller screens */
  }
  h2 {
    font-size: 1.85rem;
  }
  h3 {
    font-size: 1.575rem;
  }
  h4 {
    font-size: 1.3125rem;
  }
  h5 {
    font-size: 1.15rem;
  }
  h6 {
    font-size: 0.95rem;
  }
  p, a {
    font-size: 0.9rem; /* reduced slightly for smaller screens */
  }
}

/* Adjustments for very small devices */
@media (max-width: 480px) {
  h1 {
    font-size: 1.85rem;
  }
  h2 {
    font-size: 1.575rem;
  }
  h3 {
    font-size: 1.3125rem;
  }
  h4 {
    font-size: 1.15rem;
  }
  h5 {
    font-size: 1.05rem;
  }
  h6 {
    font-size: 0.925rem;
  }
  p, a {
    font-size: 0.89rem; /* smallest screens */
  }
}
